.vizGrid {
  .vizGridInner {
    display: flex;
    flex-direction: row;

    .col {
      // width: calc(100% / 3);
      // padding-right: 25px;
    }

    .col1 {
      width: calc(25% - 30px);
      margin-right: 30px;
    }
    .col2 {
      width: calc(50% - 30px);
      margin-right: 30px;
    }
    .col3 {
      width: calc(25% - 30px);
      margin-right: 30px;
    }
  }
}
