.contentHeader {
  width: 100vw;

  .contentHeaderInner {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}

.contentWrapper {
  width: 100vw;

  .contentWrapperInner {
    display: flex;
    flex-direction: row;
    width: 100%;

    .chapterNavWrapper {
      width: $headerHeightDesktop;
    }
    .vizGridWrapper {
      width: calc(100% - $headerHeightDesktop);
    }
  }
}
