.infoCard {
  display: block;
  // border-radius: 15px;
  // box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.15);
  // padding: 25px 50px;
  margin: 5px 5px 25px 5px;
  padding: 25px;
  background: #f3f3f3;

  .infoCardInner {
    ul li,
    ol li,
    p,
    a,
    span {
      font-size: 16px;
      line-height: 22px;
    }
    ul,
    ol {
      list-style: none;
      margin-bottom: 0;

      li {
        margin-bottom: 5px;

        &:last-of-type {
          margin: 0;
        }
      }
    }
  }
}
